{% extends 'base.html' %}
{% block content %}
	{% if msg %}
		<div class="alert alert-info alert-dismissible" role="alert">
		  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">X</span></button>
		  <strong>Información</strong> {{msg}}
		</div>
	{% endif %}
	<h1 class="text-center">Crear lista de reproducción</h1>
	<div class="row">
	<div class="col-md-offset-1 col-md-10" id="playlist-form-container">
		<form action="" method="POST">
			{% csrf_token %}
			<div class="form-group">
				<div class="col-sm-2">
					<label for="id_name">Nombre:</label>	
				</div>
				<div class="col-sm-10">
					<input class="form-control" id="id_name" name="name" type="text" required/>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-2">
					<label for="id_genre">Género:</label>
				</div>
				<div class="col-sm-10">
					<input class="form-control" id="id_genre" name="genre" required>
				</div>
			</div>
			<button type="submit" class="btn btn-primary btn-lg col-md-offset-3 col-md-6">Crear lista</button>
		</form>
	</div>
	</div>
{% endblock %}